.container{
  margin-top: 10px; 
}
.purchase-card {
  width: 350px; 
  -webkit-box-shadow: 15px 19px 24px -16px rgba(0,0,0,0.96);
  -moz-box-shadow: 15px 19px 24px -16px rgba(0,0,0,0.96);
  box-shadow: 15px 19px 24px -16px rgba(0,0,0,0.96);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 1px dotted #4a4a4a;
  padding: 2em; 
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.item-detail-button:hover, .promo-code-button:hover{
  color: rgb(0, 0, 255);
}
.item-detail-button, .promo-code-button{
  cursor: pointer;
  color: rgb(21, 21, 53);
  text-decoration: underline;
}

.media-item-details{
  width: 100%; 
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 98%, rgba(237,237,237,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 98%, rgba(237,237,237,1) 100%);
/* background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 98%, rgba(237,237,237,1) 100%); */
  border: 1px solid #00000027;
  border-radius: 5px; 
}
.media-item-details img{
  border-radius: 5px; 
  border: 1px solid #000000;
}